[submodule "kishoth"]
	path = kishoth
	url = https://github.com/nkishoth/kishoth.dreamspace.academy.git
[submodule "thanushkar"]
	path = thanushkar
	url = https://github.com/Thanushkar/thanushkar.dreamspace.academy.git
[submodule "viththi"]
	path = viththi
	url = https://github.com/Viththiyakaran/viththi.dreamspace.academy.git
